{% extends 'web_base.html.twig' %}

{% set apiKey = 'AIzaSyCp0Tf8H0AN1QxTBQXiI9l615ST9-lBVR0' %}

{% set subtitle = event.title %}

{% block content %}
<div class="col-sm-12">
  <article>
    <h1>{{ event.title }}</h1>
    <p class="lead"><strong>{{ event.getDuration }}</strong></p>
    <p class="lead offset-bottom-small">
      {{ event.shortDescription}}
    </p>
    {% if event.longDescription is not null %}
    <div class="offset-bottom">
      {{ event.longDescription|raw }}
    </div>
    {% endif %}
    <h2 class="h1">Místo</h2>
    <p class="lead">
      {{ event.location }}<br />
      {% set zoom = 15 %}
      {% set mapWidth = 500 %}
      {% set mapHeight = 300 %}
      {% set mapUrl = '//maps.google.com/maps?q=' ~ event.latitude ~ ',' ~ event.longitude ~ '&hl=cs&ie=utf8&z=' ~ zoom %}
      {% set imgUrl = '//maps.googleapis.com/maps/api/staticmap?center=' ~ event.latitude ~ ',' ~ event.longitude ~ '&zoom=' ~ zoom ~ '&size=' ~ mapWidth ~ 'x' ~ mapHeight ~ '&sensor=false&markers=' ~ event.latitude ~ ',' ~ event.longitude ~ '&key=' ~ apiKey %}
    </p>
    <a href="{{ mapUrl }}" class="offset-bottom-small" style="display: inline-block;" target="_blank" title="Zobrazit mapu (otevře se v novém okně)" data-toggle="tooltip">
      <img src="{{ imgUrl }}" alt="Mapa: {{ event.location }}" width="{{ mapWidth }}" height="{{ mapHeight }}" class="img-responsive" style="display: inline-block;">
    </a>
    {% if event.attachments|length > 0 %}
      <h2 class="h1">Přílohy</h2>
      {% for attachment in event.attachments %}
        <a href="{{ attachment.getWebPath }}" class="attachment-link">
          <div class="attachment">
            {% if attachment.getIsImage %}
              <img src="{{ attachment.getWebPath }}" alt="{{ event.title ~ " – " ~ attachment.title }}" class="img-responsive">
            {% else %}
              <div class="attachment-icon attachment-{{ attachment.getExtension }}"></div>
            {% endif %}
            <div class="attachment-filename hidden-xs"><small>{{ attachment.path }}</small></div>
            <div class="attachment-title">{{ attachment.title }}</div>
          </div>
        </a>
      {% endfor %}
    {% endif %}

    {% if event.galleryUrl is not null %}
      <h2 class="h1 offset-bottom">Galerie</h2>
      <a href="{{ event.galleryUrl }}" class="btn btn-success" target="_blank">otevřít galerii</a>
    {% endif %}
  </article>
</div>
{% endblock %}

{% block sidebar %}
{% endblock %}
