{% extends 'admin_base.html.twig' %}

{% block title %}Vítejte v administraci{% endblock %}

{% block content %}
<h3>Dostupné moduly pro správu</h3>
<ul>
  <li><a href="{{ path('olesnica_admin_home') }}">Úvod</a> <small>texty na úvodní straně webu</small></li>
  <li><a href="{{ path('olesnica_admin_about') }}">O souboru</a> <small>texty v záložce "O souboru"</small></li>
  <li><a href="{{ path('olesnica_admin_repertoire') }}">Repertoár</a> <small>text v záložce "Repertoár"</small></li>
  <li><a href="{{ path('olesnica_admin_music') }}">Hudba</a> <small>text v záložce "Hudba"</small></li>
  <li><a href="{{ path('olesnica_admin_events') }}">Akce</a> <small>správa vystoupení, plesy, jiné události</small></li>
</ul>
{% endblock %}
