{% extends 'web_base.html.twig' %}

{% set subtitle = 'O souboru' %}

{% block content %}
<article>
  <div class="row">
    <div class="col-md-6 col-sm-6">
      <h1>{{ data.aboutTitle }}</h1>
      {{ data.aboutText|raw }}
    </div>
    <div class="col-md-6 col-sm-6">
      <div class="picture-box">
        <img src="{{ asset('assets/images/soubor_md.jpg') }}" class="img-responsive" alt="Hanácký národopisný soubor Olešnica Doloplazy">
        <div class="picture-label">
          Hanácký národopisný soubor Olešnica Doloplazy
        </div>
      </div>
    </div>
  </div>
</article>
<hr>
<article>
  <h1>{{ data.historyTitle }}</h1>
  {{ data.historyText|raw }}
</article>

{% endblock %}

{% block sidebar %}
{% endblock %}
