{% extends 'OlesnicaAdminBundle:Form:form.html.twig' %}

{% block content %}
{% set startTimeIsNull = form.vars.value.startTime is null %}
{% set finishDateIsNull = form.vars.value.finishDate is null %}
{% set finishTimeIsNull = form.vars.value.finishTime is null %}
<div class="panel panel-default">
    <div class="panel-heading">
    </div>
    <div class="panel-body">
      {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.performance) }}
        <div class="form-group">
          <label class="col-sm-2 control-label required">Začátek akce</label>
          <div class="col-sm-10">
            <div class="form-box">
              {{ form_row(form.startDate) }}
              <div class="form-group">
                <div class="col-sm-2 checkbox-label">
                  {{ form_widget(form.setStartTime, { 'attr': { 'checked': not startTimeIsNull }}) }}
                </div>
              </div>
              {{ form_row(form.startTime, { 'row_attr': { 'id': 'start-time', 'class': (startTimeIsNull ? 'hidden' : '') }}) }}
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-2 checkbox-label">
            {{ form_widget(form.setFinishDate, { 'attr': { 'checked': not finishDateIsNull }}) }}
          </div>
        </div>
        <div id="finish-date" class="form-group{{ (finishDateIsNull ? ' hidden' : '') }}">
          <label class="col-sm-2 control-label required">Konec akce</label>
          <div class="col-sm-10">
            <div class="form-box">
              {{ form_row(form.finishDate) }}
              <div class="form-group">
                <div class="col-sm-2 checkbox-label">
                  {{ form_widget(form.setFinishTime, { 'attr': { 'checked': not finishTimeIsNull }}) }}
                </div>
              </div>
              {{ form_row(form.finishTime, { 'row_attr': { 'id': 'finish-time', 'class': (finishTimeIsNull ? 'hidden' : '') }}) }}
            </div>
          </div>
        </div>
        {{ form_row(form.location) }}
        <div class="form-group">
          <div class="col-sm-2"></div>
          <div class="col-sm-10">
            <div id="location-picker" class="location-picker"></div>
          </div>
        </div>
        {{ form_row(form.shortDescription) }}
        {{ form_row(form.longDescription) }}
        {{ form_row(form.galleryUrl) }}
        <div class="form-group">
          {{ form_label(form.attachments) }}
          <div class="col-sm-10">
            {% set attachmentPrototype = form.attachments.vars.prototype %}
            <div id="attachments" class="attachments form-box" data-index="{{ form.attachments|length }}" data-prototype="{{ form_row(attachmentPrototype.title)|e }}{{ form_row(attachmentPrototype.file)|e }}{{ form_row(attachmentPrototype.delete)|e }}">
              {% for attachment in form.attachments %}
              <div>
                {{ form_row(attachment.title) }}
                {% if attachment.vars.value.path %}
                  {{ form_row(attachment.path) }}
                {% else %}
                  {{ form_row(attachment.file) }}
                  {{ form_errors(attachment.path) }}
                {% endif %}
                {{ form_row(attachment.main) }}
                {{ form_row(attachment.delete) }}
                <hr>
              </div>
              {% endfor %}
              <div id="added-attachments"></div>
              <div class="form-group">
                <button id="add-attachment" type="button" class="btn btn-xs btn-default center-block">Nová příloha</button>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group form-footer text-center offset-top">
          <a href="{{ path('olesnica_admin_events') }}" class="btn btn-default">Zrušit</a>
          {{ form_widget(form.save) }}
        </div>
        {{ form_widget(form.latitude) }}
        {{ form_widget(form.longitude) }}
        {{ form_widget(form._token) }}
      {{ form_end(form, {'render_rest': false}) }}
    </div>
</div>
{% endblock %}
