{% extends 'web_base.html.twig' %}

{% set subtitle = 'Galerie' %}

{% block content %}
<h1 class="offset-bottom">Galerie</h1>
<div class="row">
    {% for event in galleries %}
    <div class="col col-sm-4">
        <a href="{{ event.galleryUrl }}" class="thumbnail" target="_blank">
            <div class="hover-overlay-container">
                <img class="img-responsive" src="{{ event.thumbnailUrl }}" alt="{{ event.title }}">
                <div class="hover-overlay-content">
                    <span class="">Otevřít album <span class="glyphicon glyphicon-camera" aria-hidden="true"></span></span>
                </div>
            </div>
            <div class="caption">
                <h3>{{ event.title }}</h3>
                <strong>{{ event.startDate|date('j. n. Y') }}</strong><br>
                {{ event.location }}
            </div>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}
