{% extends 'web_base.html.twig' %}

{% set hasSidebar = true %}

{% block content %}
<div class="col-md-8 col-sm-8">
  {% if recentEvents|length > 0 %}
  {% for attachment in recentEvents[0].attachments %}
  {% if attachment.main and attachment.getIsImage %}
  <a href="{{ path('olesnica_web_events_show_slug', { slug: recentEvents[0].slug }) }}">
    <img src="{{ attachment.getWebPath }}" alt="{{ recentEvents[0].title ~ " – " ~ attachment.title }}" class="img-responsive offset-bottom">
  </a>
  {% endif %}
  {% endfor %}
  {% endif %}
  <article>
    <h1>{{ data.welcomeTitle }}</h1>
    <p class="lead">
      {{ data.welcomeText }}
    </p>
    <div class="pull-right">
      <a class="btn btn-success btn-xs" href="{{ path('olesnica_web_about') }}">více o souboru</a>
    </div>
  </article>

  <article>
    <h1>{{ data.repertoireTitle }}</h1>
    <p class="lead">
      {{ data.repertoireText }}
    </p>
    <div class="pull-right">
      <a class="btn btn-success btn-xs" href="{{ path('olesnica_web_repertoire') }}">více o repertoáru</a>
    </div>
  </article>

  <article>
    <h1>{{ data.rideOfKingsTitle }}</h1>
    <p class="lead">
      {{ data.rideOfKingsText }}
    </p>
    <div class="pull-right">
      <a class="btn btn-success btn-xs" href="https://jizdakralu.olesnica.cz">více o jízdě králů</a>
    </div>
  </article>
</div>
<hr class="visible-xs-block">
{% endblock %}

{% block sidebar %}
<div class="col-md-4 col-sm-4">
  <div class="panel panel-default">
    <div class="panel-heading">Nejbližší akce</div>
    <div class="panel-body">
      {% include 'OlesnicaWebBundle:_partials:list_of_events.html.twig' with {events: recentEvents} %}
      <div class="text-center">
        <a href="{{ path('olesnica_web_events') }}" class="btn btn-xs btn-success">další akce</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
